<ion-app>

  <ion-menu side="start" menuId="sidem">
    <ion-header>
      <ion-toolbar class="ion-bg-main">
        <ion-title style="text-align: center; font-size: large; color: white;" padding >SenPharma</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list> 
        <ion-item (click)="close()" routerLink="/pharmacies" >Toutes les pharmacies </ion-item>
        <ion-item (click)="close()" routerLink="/search-pharmacy" >Rechercher une pharmacie</ion-item>
        <ion-item (click)="close()" routerLink="/search-drug">Rechercher un médicament</ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
        <ion-item (click)="close()" routerLink="/contact" style="color: #312D79;" >Contacter le développeur</ion-item>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
