ion-card-title {
    font-size: 20px;
}

ion-searchbar {
    padding-left: 5%;
    padding-right: 5%;
}

em {
    font-size: 16px;
}

.no-results {
    text-align: center;
    color: white;
    margin-top: 45%;
    padding-left: 15px;
    padding-right: 15px;
}