<ion-header [translucent]="true">
  <ion-toolbar class="ion-bg-main">
    <ion-buttons style="font-size: 35px; " slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SenPharma
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-bg-main">

  <img class="centerImage" src="../../../assets/logo.png" alt="">

  <div class="ion-text-center">

    <!-- <p style="color: white;" >Copyright 2019 - Sen Pharmacies by Bamba. <br> All rights reserved.</p> -->

    <!-- <ion-button style="padding-left: 10px; padding-right: 10px;" color="light"  routerLink="/contact"  >
      Contacter le développeur
      <ion-icon slot="start" name="create"></ion-icon>
  
    </ion-button> -->



  </div>

</ion-content>

<ion-footer >
  <ion-toolbar class="ion-bg-main ion-text-center">

    <ion-title style="font-size: 11px;" >Copyright 2019 <br> SenPharma by Bamba. <br> All rights reserved.</ion-title>

  </ion-toolbar>

</ion-footer>
